.container-calendar{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-calendar > .day-of-the-week{
     display: flex;
     list-style: none;
     width: 100%;
     height: 40px;
}

.container-calendar > .day-of-the-week > li{
    width: calc(100%/7);
    border: 1px solid #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    background-color: #6cff6c;
    font-weight: 600;
}

.container-calendar > .list-days{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}