.container-reminder-detail{
    display: flex;
    flex-direction: column;
}

.container-reminder-detail > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 20px ;
}


.container-reminder-detail > ul > li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-reminder-detail > ul > li > img {
    background-color: #a5cdef;
    border-radius: 5px;
}

.container-reminder-detail > ul > li > div{
    display: flex;
    align-items: center;
}


.container-reminder-detail > ul > li > div > svg{
    font-size: 12pt;
}

.container-reminder-detail > ul > li > div:first-child{
    margin-right: 15px;
}


.container-reminder-detail > ul > li > div.reminder-title{
    font-weight: 500;
    font-size: 15pt;
    color: #222;
    font-family: sans-serif;
    text-transform: capitalize;
}

.input-group{
    margin-bottom: 10px;
}

.input-group > input, 
.input-group > textarea{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    display: block;
}

.content-color{
    margin-top: 10px;
}

.reminder-detail{
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 1px solid #ccc;
    padding: 10px 10px 0;
    display: flex;
    justify-content: flex-end;
}

.detail-reminder-footer{
    border-top: 1px solid #ccc;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    display: flex;
}

.detail-reminder-footer > button{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-reminder-footer > button > svg{
    font-size: 12pt;
    margin-left: -10px;
    margin-right: 10px;
}