.reminder-card-item{
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    color:#fff;
    font-weight: bold;
    margin: 2px;
}

.reminder-card-item > p {
    font-size: 9pt;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1; 
    -webkit-box-orient: vertical;
    padding: 0 2px;
}